.please-login {
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
}

.please-login img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.message {
    width: 100%;
    text-align: center;
    font-size: 80px;
    color: #1296db;
}