.rangePicker-div {
    width: 100%;
    position: relative;
    background-color: blue;
    text-align: center;
}
.rangePicker {
    position:absolute; 
    left:50%;  
    top:50%; 
    margin: 0 auto
}